<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Exercises</title>
</head>
<body>
<h1>Exercises</h1>
<!--<div>-->
<!--  <h2>Muscle Groups</h2>-->
<!--  <ul>-->
<!--    <li th:each="muscleGroup : ${exerciseHomeDTO.muscleGroups}">-->
<!--      <span th:text="${muscleGroup}">Muscle Group</span>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
<div>
  <h2>All Exercises</h2>
  <ul>
    <li th:each="exercise : ${exerciseHomeDTO.allExercises}">
      <h3 th:text="${exercise.description}">Exercise Description</h3>
      <p>Repetitions: <span th:text="${exercise.repetitions}">Reps</span></p>
      <p>Media URL: <a th:href="${exercise.mediaUrl}" th:text="${exercise.mediaUrl}">Media Link</a></p>
      <p>Muscle Groups:
        <span th:each="muscleGroup : ${exercise.muscleGroups}">
                        <span th:text="${muscleGroup}">Muscle Group</span>
<!--                        <span th:if="${!#lists.isLast(muscleGroup, exercise.muscleGroups)}">, </span>-->
                    </span>
      </p>
    </li>
  </ul>
</div>
</body>
</html>
